In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,LabelEncoder

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df=pd.read_csv('/content/drive/MyDrive/Datasets/bank-additional-full.csv',sep=';')

In [5]:
print(f'{'*'*100}')
print(f'{'*'*100}\n')
print('\t \t \t \t   EDA -> exploratory Data Analysis')
print(f'\n{'*'*100}')
print(f'{'*'*100}')

print(f'\n{'*'*100}')
print('Shape of Data')
print(f'{'*'*100}\n')
print(f'Rows : {df.shape[0]} , Columns : {df.shape[1]}')

print(f'\n{'*'*100}')
print('Sample of Data')
print(f'{'*'*100}\n')

df.sample(10)

print(f'\n{'*'*100}')
print('Columns of Dataset')
print(f'{'*'*100}\n')
print(f'The columns names are : \n \n {df.columns}')

print(f'\n{'*'*100}')
print('inforomation of columns')
print(f'{'*'*100}\n')
print(df.info())

print(f'\n{'*'*100}')
print('Stastics of numerical columns')
print(f'{'*'*100}\n')

df.describe()

print(f'\n{'*'*100}')
print('Correlation of numerical columns')
print(f'{'*'*100}\n')

df.corr(numeric_only=True)

print(f'\n{'*'*100}')
print('Droping Columns which will take to data leakage and and have multicolinearity')
print(f'{'*'*100}\n')

df_new=df.drop(columns=['duration','nr.employed','cons.price.idx'],axis=1)

print(f'\n{'*'*100}')
print('Categorical columns and  numericalcolumns')
print(f'{'*'*100}\n')

cat_columns=[col for col in df_new.columns if df_new[col].dtype =='object']

print(f'The Categorical_columns : \n \n {cat_columns}')

num_columns=[col for col in df_new.columns if (df_new[col].dtype =='float64') or (df_new[col].dtype =='int64') ]

print(f'\n The numerical_columns : \n \n {num_columns}')

****************************************************************************************************
****************************************************************************************************

	 	 	 	   EDA -> exploratory Data Analysis

****************************************************************************************************
****************************************************************************************************

****************************************************************************************************
Shape of Data
****************************************************************************************************

Rows : 41188 , Columns : 21

****************************************************************************************************
Sample of Data
****************************************************************************************************


****************************************************************************************************
Columns of Dataset
****************************************************************************************************

The columns names are :

 Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

****************************************************************************************************
inforomation of columns
****************************************************************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

****************************************************************************************************
Stastics of numerical columns
****************************************************************************************************


****************************************************************************************************
Correlation of numerical columns
****************************************************************************************************


****************************************************************************************************
Droping Columns which will take to data leakage and and have multicolinearity
****************************************************************************************************


****************************************************************************************************
Categorical columns and  numericalcolumns
****************************************************************************************************

The Categorical_columns :

 ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome', 'y']

 The numerical_columns :

 ['age', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.conf.idx', 'euribor3m']

In [6]:
print(f'{'*'*100}')
print(f'{'*'*100}\n')
print('\t \t \t \t  Feature engineering')
print(f'\n{'*'*100}')
print(f'{'*'*100}')

print(f'\n{'*'*100}')
print('Sapertaing the Input feature  and target feature ')
print(f'{'*'*100}\n')

X=df_new.drop(columns=['y'])
y=df['y']

print(f'\n{'*'*100}')
print('Sapertaing the train and test data using train test split ')
print(f'{'*'*100}\n')

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

****************************************************************************************************
****************************************************************************************************

	 	 	 	  Feature engineering

****************************************************************************************************
****************************************************************************************************

****************************************************************************************************
Sapertaing the Input feature  and target feature
****************************************************************************************************


****************************************************************************************************
Sapertaing the train and test data using train test split
****************************************************************************************************

In [7]:
ohe_columns=[col for col in X_train.columns if col !='education' and X_train[col].dtype =='object']
ohe_columns

['job',
 'marital',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'poutcome']

In [8]:
print(f'\n{'*'*100}')
print('Using columns transformer to transform categorical data')
print(f'{'*'*100}\n')

transformer=ColumnTransformer(
    transformers=(
        ('toe1',OrdinalEncoder(categories=[['university.degree','professional.course','high.school','basic.9y','basic.6y','basic.4y','illiterate','unknown']]),['education']),
        ('tohe2',OneHotEncoder(
            handle_unknown='ignore',
            sparse_output=False,
            drop='first'
        ),ohe_columns)
    ),remainder='passthrough'
)

X_train_new=transformer.fit_transform(X_train)
X_test_new=transformer.transform(X_test)

****************************************************************************************************
Using columns transformer to transform categorical data
****************************************************************************************************

In [9]:
X_train_new.shape

(28831, 44)

In [11]:
X_test_new.shape

(12357, 44)

In [12]:
#Using label encoder to encode target column
le=LabelEncoder()
y_train_new=le.fit_transform(y_train)
y_test_new=le.transform(y_test)

In [14]:
y_train_new.shape

(28831,)

In [15]:
y_test_new.shape

(12357,)

In [16]:
y_train_new

array([0, 0, 0, ..., 1, 0, 0])

In [17]:
le.classes_

array(['no', 'yes'], dtype=object)